.header {
  display: flex;
  flex-direction: row;
  background-color: #4369b2;
  justify-content: space-between;
  align-items: center;
}

.SelectedCountryTitle {
  display: flex;
  align-items: center;
  margin: 10px 15px;
  font-size: 20px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.SelectedCountryTitle img {
  margin-right: 10px;
}

.header_nav a {
  color: blue;
}

.header_logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.header_RocketMissions {
  display: flex;
  gap: 20px;
  margin-right: 10px;
  border-right: 1px solid black;
  padding-right: 10px;
}

.active {
  text-decoration: underline;
}

.header .menu-btn {
  display: none;
}

.mobileNavBackground {
  background-color: #4369b2;
}

/* .mobileNavBackground:hover {
      transition-duration: 1s;
    background-color:#fff;;
  } */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 11px 15px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon::before,
.header .menu-icon .navicon::after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon::before {
  top: 5px;
}

.header .menu-icon .navicon::after {
  top: -5px;
}

.heart-icon {
  color: white;
  margin: 5px 15px 0px 0px;
  cursor: pointer;
  font-size: 20px;
}

.back-icon {
  color: white;
  font-size: 25px;
  margin: 5px 0 0 5px;
  cursor: pointer;
}

.favorite {
  color: red
}

.notfavorite {
  color: white;
}