.footerContainer {
    background-color: #35548b;
    color: white;
}

.footerContainer span {
    margin-left: 5px;
    font-size: 12px;
}

.footerContainer a{
    text-decoration: underline;
    color: white;
}